@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h3>Here you can manage:</h3>
        <ul>
            <li><a asp-area="" asp-controller="Students" asp-action="Index">Students</a></li>
            <li><a asp-area="" asp-controller="Courses" asp-action="Index">Courses</a></li>
        </ul>
    </div>
</div>
<div class="row">
    </div>